.heart {
  width: 250px;
  padding: 0;
  margin: 0 auto;
  transform-origin: center;
  transform: scale(1.05);
}

.heart img {
  width: 100%;
}
.heart {
  width: 250px;
  padding: 0;
  margin: 0 auto;
  transform-origin: center;
  transform: scale(1.05);
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
15% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
}